absl-py
accelerate
asttokens
Bottleneck
Brotli
cachetools
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
einops
einops-exts
exceptiongroup
executing
filelock
fonttools
fsspec
grpcio
h5py
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
loguru
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mkl_fft
mkl_random
mkl-service
mpmath
nest_asyncio
networkx
numexpr
numpy
nvidia-ml-py
nvitop
opencv-python
packaging
pandas
parso
pexpect
pickleshare
pillow
pip
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
pyparsing
PySocks
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
safetensors
sentencepiece
setuptools
six
stack-data
sympy
tensorboard
tensorboard_data_server
termcolor
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
zipp
